Repository iamkarlson/grocy: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-hacs, validate-manifest

.pre-commit-config.yaml:

repos:
  # Basic file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict

  # Python formatting and linting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.2
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # Validate HACS and manifest files
  - repo: local
    hooks:
      - id: validate-hacs
        name: Validate HACS configuration
        entry: python -c "import json; json.load(open('hacs.json'))"
        language: system
        files: ^hacs\.json$
        pass_filenames: false

      - id: validate-manifest
        name: Validate Home Assistant manifest
        entry: python -c "import json; json.load(open('custom_components/grocy/manifest.json'))"
        language: system
        files: ^custom_components/.*/manifest\.json$
        pass_filenames: false

update
  custom_components/grocy/calendar.py
  custom_components/grocy/coordinator.py
Due: none

update
  custom_components/grocy/calendar.py
Due: none

ensure all day events show
  custom_components/grocy/calendar.py
Due: none

update reconfigure
  custom_components/grocy/config_flow.py
Due: none

update for local timezone
  custom_components/grocy/calendar.py
Due: none

update for local timezone from utc
  custom_components/grocy/calendar.py
Due: none

fix timedate config option
  README.md
  custom_components/grocy/calendar.py
  custom_components/grocy/config_flow.py
  custom_components/grocy/const.py
  custom_components/grocy/translations/de.json
  custom_components/grocy/translations/en.json
  custom_components/grocy/translations/hr.json
  custom_components/grocy/translations/nl_NL.json
  custom_components/grocy/translations/pt-PT.json
  custom_components/grocy/translations/pt_BR.json
  custom_components/grocy/translations/ro.json
  custom_components/grocy/translations/sv.json
  custom_components/grocy/translations/uk_UA.json
Due: none

update shopping list status
  custom_components/grocy/todo.py
Due: none

docs(translations): modify field promt
  custom_components/grocy/translations/en.json
Due: none

docs(readme): mention using no path in the readme
  README.md
Due: none

bump HA to 2025.11
  hacs.json
  pyproject.toml
  uv.lock
Due: validate-hacs

local dev setup and grocy instance
  .devcontainer/devcontainer.json
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  CONTRIBUTING.md
  config/backups/automatic_backup_2025_11_2.tar
  docker-compose.yml
  pyproject.toml
  taskfile.yml
  uv.lock
Due: none

bumped HA to the latest and unpin
  pyproject.toml
  uv.lock
Due: none

formatting
  .vscode/settings.json
Due: none

ditched devcontainer
  .devcontainer/devcontainer.json
  .vscode/launch.json
  .vscode/tasks.json
  README.md
  config/configuration.yaml
  docker-compose.yml
  taskfile.yml
Due: none

fixed the same problem for shopping list product
  custom_components/grocy/todo.py
Due: none

dev tooling
  .vscode/launch.json
  CONTRIBUTING.md
  README.md
  docker-compose.yml
  taskfile.yml
Due: none

refreshed backup with the latest configuration
  config/backups/Automatic_backup_2025.12.5_2026-01-07_19.55_33856625.tar
  config/backups/automatic_backup_2025_11_2.tar
Due: none

Test (#4)
  README.md
  custom_components/grocy/__init__.py
  custom_components/grocy/calendar.py
  custom_components/grocy/config_flow.py
  custom_components/grocy/const.py
  custom_components/grocy/coordinator.py
  custom_components/grocy/manifest.json
  custom_components/grocy/translations/de.json
  custom_components/grocy/translations/en.json
  custom_components/grocy/translations/hr.json
  custom_components/grocy/translations/nl_NL.json
  custom_components/grocy/translations/pt-PT.json
  custom_components/grocy/translations/pt_BR.json
  custom_components/grocy/translations/ro.json
  custom_components/grocy/translations/sv.json
  custom_components/grocy/translations/uk_UA.json
Due: validate-manifest

Revert "Test (#4)" (#5)
  README.md
  custom_components/grocy/__init__.py
  custom_components/grocy/calendar.py
  custom_components/grocy/config_flow.py
  custom_components/grocy/const.py
  custom_components/grocy/coordinator.py
  custom_components/grocy/manifest.json
  custom_components/grocy/translations/de.json
  custom_components/grocy/translations/en.json
  custom_components/grocy/translations/hr.json
  custom_components/grocy/translations/nl_NL.json
  custom_components/grocy/translations/pt-PT.json
  custom_components/grocy/translations/pt_BR.json
  custom_components/grocy/translations/ro.json
  custom_components/grocy/translations/sv.json
  custom_components/grocy/translations/uk_UA.json
Due: validate-manifest

Update manifest.json
  custom_components/grocy/manifest.json
Due: validate-manifest

Update hacs.json
  hacs.json
Due: validate-hacs

Fix migrations, lint, json error bug
  custom_components/grocy/__init__.py
  custom_components/grocy/calendar.py
  custom_components/grocy/config_flow.py
  custom_components/grocy/coordinator.py
  custom_components/grocy/grocy_data.py
Due: none

Update README.md
  README.md
Due: none

Add French translations for Grocy component
  custom_components/grocy/translations/fr.json
Due: none

grocy api key for tests
  docker-compose.yml
  pyproject.toml
  scripts/seed_grocy_api_key.sh
  uv.lock
Due: none

migrated to grocy-py
  CONTRIBUTING.md
  README.md
  config/configuration.yaml
  configuration.yaml
  custom_components/grocy/binary_sensor.py
  custom_components/grocy/config_flow.py
  custom_components/grocy/coordinator.py
  custom_components/grocy/grocy_data.py
  custom_components/grocy/helpers.py
  custom_components/grocy/manifest.json
  custom_components/grocy/sensor.py
  custom_components/grocy/services.py
  custom_components/grocy/todo.py
  pyproject.toml
  uv.lock
Due: validate-manifest

tests
  .gitignore
  .vscode/settings.json
  pyproject.toml
  taskfile.yml
  tests/__init__.py
  tests/conftest.py
  tests/factories.py
  tests/test_config_flow.py
  tests/test_coordinator.py
  tests/test_entities.py
  tests/test_helpers.py
  tests/test_init.py
  tests/test_services.py
  uv.lock
Due: none

tests
  tests/test_entities.py
  tests/test_grocy_data.py
  tests/test_init.py
  tests/test_json_encoder.py
  tests/test_services.py
  tests/test_todo.py
Due: none

moved tasks to taskfile
  CONTRIBUTING.md
  scripts/develop
  scripts/lint
  scripts/setup
  taskfile.yml
Due: none

docs
  custom_components/grocy/translations/de.json
  custom_components/grocy/translations/en.json
  custom_components/grocy/translations/hr.json
  custom_components/grocy/translations/nl_NL.json
  custom_components/grocy/translations/pt-PT.json
  custom_components/grocy/translations/pt_BR.json
  custom_components/grocy/translations/ro.json
  custom_components/grocy/translations/sv.json
  custom_components/grocy/translations/uk_UA.json
Due: none

pin deps
  pyproject.toml
  uv.lock
Due: none

pin and update deps
  .github/workflows/hacs.yaml
  .github/workflows/hassfest.yaml
  .github/workflows/release.yaml
  docker-compose.yml
  hacs.json
  pyproject.toml
  uv.lock
Due: validate-hacs

bunmp deps to the latest HA
  custom_components/grocy/manifest.json
  hacs.json
  pyproject.toml
  uv.lock
Due: validate-hacs, validate-manifest
