Repository iamkarlson/grocy: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-hacs, validate-manifest

.pre-commit-config.yaml:

repos:
  # Basic file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict

  # Python formatting and linting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.2
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # Validate HACS and manifest files
  - repo: local
    hooks:
      - id: validate-hacs
        name: Validate HACS configuration
        entry: python -c "import json; json.load(open('hacs.json'))"
        language: system
        files: ^hacs\.json$
        pass_filenames: false

      - id: validate-manifest
        name: Validate Home Assistant manifest
        entry: python -c "import json; json.load(open('custom_components/grocy/manifest.json'))"
        language: system
        files: ^custom_components/.*/manifest\.json$
        pass_filenames: false

Update manifest.json
  custom_components/grocy/manifest.json
Due: validate-manifest

style(calendar): wrap long import line per ruff
  custom_components/grocy/calendar.py
Due: none

Bump to 1.10.0 with grocy-py 0.1.0
  custom_components/grocy/manifest.json
  pyproject.toml
  tests/test_services.py
  uv.lock
Due: validate-manifest

Bump version to 1.15.0
  custom_components/grocy/manifest.json
  pyproject.toml
  uv.lock
Due: validate-manifest

Add recipes available sensor with parameter indicating stock status
  custom_components/grocy/__init__.py
  custom_components/grocy/const.py
  custom_components/grocy/coordinator.py
  custom_components/grocy/grocy_data.py
  custom_components/grocy/helpers.py
  custom_components/grocy/sensor.py
  docs/FEATURES.md
  docs/test-feature-map.yaml
  tests/test_entities.py
  tests/test_grocy_data.py
  tests/test_init.py
Due: none

Add URL to receipe
  custom_components/grocy/coordinator.py
  custom_components/grocy/grocy_data.py
  custom_components/grocy/helpers.py
  tests/test_entities.py
  tests/test_grocy_data.py
Due: none

Moved append logic
  custom_components/grocy/binary_sensor.py
  custom_components/grocy/calendar.py
  custom_components/grocy/sensor.py
  custom_components/grocy/todo.py
Due: none

updated versions
  docker-compose.yml
  hacs.json
  pyproject.toml
  uv.lock
Due: validate-hacs

extra null check and tests
  custom_components/grocy/services.py
  docs/test-feature-map.yaml
  tests/test_services.py
  tests/test_todo.py
Due: none

updated version in doc
  README.md
Due: none

build: move to Home Assistant 2026.8.1 and Python 3.14
  README.md
  custom_components/grocy/manifest.json
  docker-compose.yml
  hacs.json
  pyproject.toml
  uv.lock
Due: validate-hacs, validate-manifest

fix: adopt HA 2026.8 coordinator and entity-platform APIs
  custom_components/grocy/binary_sensor.py
  custom_components/grocy/calendar.py
  custom_components/grocy/coordinator.py
  custom_components/grocy/sensor.py
  custom_components/grocy/todo.py
  docs/test-feature-map.yaml
  tests/test_config_flow.py
Due: none

ci: ruff 0.16.2, current actions, and a working release workflow
  .github/workflows/docs.yaml
  .github/workflows/hacs.yaml
  .github/workflows/hassfest.yaml
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .github/workflows/stale.yml
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  custom_components/grocy/grocy_data.py
  custom_components/grocy/todo.py
  pyproject.toml
Due: none

ci: configure Renovate for the manifest and HACS pins
  renovate.json
Due: none

Fix entity registration and missing meal-plan recipes (rebased PR #56 by @wemcy)
  custom_components/grocy/binary_sensor.py
  custom_components/grocy/calendar.py
  custom_components/grocy/sensor.py
  custom_components/grocy/services.py
  custom_components/grocy/todo.py
  docs/test-feature-map.yaml
  tests/test_services.py
  tests/test_todo.py
Due: none

Add recipes sensor with stock status (rebased PR #55 by @detobel36)
  custom_components/grocy/__init__.py
  custom_components/grocy/const.py
  custom_components/grocy/coordinator.py
  custom_components/grocy/grocy_data.py
  custom_components/grocy/helpers.py
  custom_components/grocy/sensor.py
  docs/FEATURES.md
  docs/test-feature-map.yaml
  tests/test_entities.py
  tests/test_grocy_data.py
  tests/test_init.py
Due: none

build: grocy-py 1.0.0 and drop the last private-API call
  custom_components/grocy/grocy_data.py
  custom_components/grocy/manifest.json
  docs/test-feature-map.yaml
  pyproject.toml
  tests/test_grocy_data.py
  uv.lock
Due: validate-manifest

Update custom_components/grocy/services.py
  custom_components/grocy/services.py
Due: none

ci: pin setup-uv to v10.0.0
  .github/workflows/docs.yaml
  .github/workflows/lint.yaml
  .github/workflows/tests.yaml
Due: none

chore: bump version to 1.16.0
  custom_components/grocy/manifest.json
  pyproject.toml
  uv.lock
Due: validate-manifest

style: restore compact manifest.json arrays
  custom_components/grocy/manifest.json
Due: validate-manifest

ci: let Renovate manage .pre-commit-config.yaml
  renovate.json
Due: none

Try to add best_before_date
  custom_components/grocy/services.py
  custom_components/grocy/services.yaml
  docs/FEATURES.md
  docs/test-feature-map.yaml
  tests/test_services.py
Due: none

chore(deps): bump Home Assistant to 2026.8.3
  pyproject.toml
  uv.lock
Due: none
