Repository iamkarlson/grocy: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-hacs, validate-manifest

validate-hacs:
  name: Validate HACS configuration
  entry: python -c "import json; json.load(open('hacs.json'))"
  language: system
  pass_filenames: false

validate-manifest:
  name: Validate Home Assistant manifest
  entry: python -c "import json; json.load(open('custom_components/grocy/manifest.json'))"
  language: system
  pass_filenames: false

formatting
  .devcontainer/devcontainer.json
  .github/workflows/release.yaml
  .vscode/settings.json
  .vscode/tasks.json
  README.md
  custom_components/grocy/__init__.py
  custom_components/grocy/binary_sensor.py
  custom_components/grocy/config_flow.py
  custom_components/grocy/const.py
  custom_components/grocy/coordinator.py
  custom_components/grocy/entity.py
  custom_components/grocy/grocy_data.py
  custom_components/grocy/helpers.py
  custom_components/grocy/json_encoder.py
  custom_components/grocy/sensor.py
  custom_components/grocy/services.py
  custom_components/grocy/todo.py
  custom_components/grocy/translations/en.json
  hacs.json
  pyproject.toml
Due: validate-hacs

debug configuration
  config/configuration.yaml
  scripts/develop
Due: none

docs
  CONTRIBUTING.md
  README.md
Due: none

correct links
  README.md
Due: none

enabled workflows on main
  .github/workflows/hacs.yaml
  .github/workflows/hassfest.yaml
Due: none

fixed release
  .github/workflows/release.yaml
Due: none

ditched proprietary translation service
  .github/workflows/release.yaml
  README.md
  custom_components/grocy/translations/de.json
  custom_components/grocy/translations/en.json
  custom_components/grocy/translations/hr.json
  custom_components/grocy/translations/nl_NL.json
  custom_components/grocy/translations/pt_BR.json
  custom_components/grocy/translations/ro.json
  custom_components/grocy/translations/sv.json
  custom_components/grocy/translations/uk_UA.json
Due: none

Fixed old links
  custom_components/grocy/__init__.py
  custom_components/grocy/const.py
  custom_components/grocy/manifest.json
  pyproject.toml
Due: validate-manifest

removed left-overs
  README.md
Due: none

cleaned up old files and restored release
  .github/workflows/release.yaml
  custom_components/grocy/manifest.json
  hacs.json
Due: validate-hacs, validate-manifest

fixed translations
  custom_components/grocy/translations/de.json
  custom_components/grocy/translations/en.json
  custom_components/grocy/translations/hr.json
  custom_components/grocy/translations/nl_NL.json
  custom_components/grocy/translations/pt_BR.json
  custom_components/grocy/translations/ro.json
  custom_components/grocy/translations/sv.json
  custom_components/grocy/translations/uk_UA.json
Due: none

Clarified readme on enabling entities
  README.md
Due: none

Create stale.yml
  .github/workflows/stale.yml
Due: none

upgraded home assistant and fixed some errors
  .gitignore
  .vscode/settings.json
  custom_components/grocy/grocy_data.py
  pyproject.toml
  uv.lock
Due: none

Added launch.json to debug running HA instance
  .vscode/launch.json
Due: none

validate translations
  .github/workflows/stale.yml
  .pre-commit-config.yaml
  custom_components/grocy/translations/pt-PT.json
  scripts/validate_translations.py
Due: none

missing translations
  custom_components/grocy/translations/pt-PT.json
Due: none

pre-commit and uv docs
  .github/workflows/lint.yaml
  CONTRIBUTING.md
Due: none

launch HA in debug
  .vscode/launch.json
  .vscode/tasks.json
Due: none

Retry initialize for grocy instance
  custom_components/grocy/__init__.py
  custom_components/grocy/manifest.json
Due: validate-manifest

bump version
  pyproject.toml
Due: none

bump version in more places
  custom_components/grocy/manifest.json
  pyproject.toml
Due: validate-manifest

bump version in more places [1]
  custom_components/grocy/manifest.json
  pyproject.toml
Due: validate-manifest

Handle ProductWrapper in todo entity for stock items
  custom_components/grocy/todo.py
Due: none

feat(multi api key): allow multiple users
  custom_components/grocy/__init__.py
  custom_components/grocy/binary_sensor.py
  custom_components/grocy/config_flow.py
  custom_components/grocy/coordinator.py
  custom_components/grocy/entity.py
  custom_components/grocy/grocy_data.py
  custom_components/grocy/manifest.json
  custom_components/grocy/sensor.py
  custom_components/grocy/services.py
  custom_components/grocy/todo.py
  custom_components/grocy/translations/de.json
  custom_components/grocy/translations/en.json
  custom_components/grocy/translations/hr.json
  custom_components/grocy/translations/nl_NL.json
  custom_components/grocy/translations/pt-PT.json
  custom_components/grocy/translations/pt_BR.json
  custom_components/grocy/translations/ro.json
  custom_components/grocy/translations/sv.json
  custom_components/grocy/translations/uk_UA.json
Due: validate-manifest

update code
  custom_components/grocy/__init__.py
  custom_components/grocy/grocy_data.py
  custom_components/grocy/services.yaml
Due: none

prevent unavailable during update
  custom_components/grocy/coordinator.py
Due: none

Fix stock items todo entity ProductWrapper compatibility
  custom_components/grocy/coordinator.py
  custom_components/grocy/todo.py
Due: none

add calendar
  README.md
  custom_components/grocy/calendar.py
  custom_components/grocy/config_flow.py
  custom_components/grocy/const.py
  custom_components/grocy/manifest.json
Due: validate-manifest

add hard reload and translation
  custom_components/grocy/calendar.py
  custom_components/grocy/config_flow.py
  custom_components/grocy/translations/de.json
  custom_components/grocy/translations/en.json
  custom_components/grocy/translations/hr.json
  custom_components/grocy/translations/nl_NL.json
  custom_components/grocy/translations/pt-PT.json
  custom_components/grocy/translations/pt_BR.json
  custom_components/grocy/translations/ro.json
  custom_components/grocy/translations/sv.json
  custom_components/grocy/translations/uk_UA.json
Due: none

update
  custom_components/grocy/config_flow.py
  custom_components/grocy/translations/de.json
  custom_components/grocy/translations/en.json
  custom_components/grocy/translations/hr.json
  custom_components/grocy/translations/nl_NL.json
  custom_components/grocy/translations/pt-PT.json
  custom_components/grocy/translations/pt_BR.json
  custom_components/grocy/translations/ro.json
  custom_components/grocy/translations/sv.json
  custom_components/grocy/translations/uk_UA.json
Due: none

allow adding the apikey and port
  custom_components/grocy/config_flow.py
  custom_components/grocy/translations/de.json
  custom_components/grocy/translations/en.json
  custom_components/grocy/translations/hr.json
  custom_components/grocy/translations/nl_NL.json
  custom_components/grocy/translations/pt-PT.json
  custom_components/grocy/translations/pt_BR.json
  custom_components/grocy/translations/ro.json
  custom_components/grocy/translations/sv.json
  custom_components/grocy/translations/uk_UA.json
Due: none

update
  custom_components/grocy/config_flow.py
Due: none

update
  custom_components/grocy/__init__.py
  custom_components/grocy/config_flow.py
  custom_components/grocy/coordinator.py
Due: none

update
  README.md
  custom_components/grocy/config_flow.py
  custom_components/grocy/translations/en.json
Due: none

update
  custom_components/grocy/translations/de.json
  custom_components/grocy/translations/hr.json
  custom_components/grocy/translations/nl_NL.json
  custom_components/grocy/translations/pt-PT.json
  custom_components/grocy/translations/pt_BR.json
  custom_components/grocy/translations/ro.json
  custom_components/grocy/translations/sv.json
  custom_components/grocy/translations/uk_UA.json
Due: none

update
  custom_components/grocy/calendar.py
Due: none

Path conditions:
  validate-hacs: any of: ^hacs\.json$
  validate-manifest: any of: ^custom_components/.*/manifest\.json$
